:root{
    --primary-color: #7B68EE;
}

html{
    scroll-behavior: smooth;
}

header {
    height: 20vh;
    width: 100%;
    color: #fff;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body, main, a, p, b, span {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

main{
    padding: 20px 40px;
    background-color: #333;
}

h2{
    font-size: 30px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    font-weight: bold;
}

/*----------------- BUTTONS HEADER -------------------*/
.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
}
.github{
	border: 1px solid #fff;
	color: #fff;
    background-color: #333;
}
.github:hover{
	opacity: 0.8;
}
.linkedin{
    background-color: #fff;
	border: 1px solid #000;
	color: #0077b5;
    
}
.linkedin:hover{
	opacity: 0.8;
}
.btn-margin{
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	text-align: center;
	width: 100px;
	padding: 10px;
	font-weight: bolder;
	cursor: pointer;
	transition: all 0.3s;
}

/*----------------- END BUTTONS HEADER -------------------*/

/*----------------- MAIN -------------------*/


.content-container{
    color: #fff;
    background-color: #333;
}
.content-container p{
    max-width: 60%;
}

.list-container li a {
    color: #fff;
}
.list-container ul{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.img-notes-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.img-notes{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: scale(1.2);
    }

/* CARDS */

.cards-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-card{
    width: 600px;
    height: 390px;
    object-fit: cover;
}

/*-------------- FOOTER -----------------*/

.footer-container{
	overflow: auto;
	display: flex;
	justify-content: center;
	background-color: #111;
	height: 10vh;
	text-align: center;
	color: #fff;
    align-items: center;
	
}
.footer-container a{
	color: #fff;
}